*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
}
#popup{
    display: none;
}
#popup-content{
    width:40%;
    position: fixed;
    top: 0;
    left: 30%;
    right:30%;
    bottom:60%;
    background-color: #000000c2;
    display: block;
}
#popup-close{
    float: right;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}
#popup-text{
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
#popup-text label{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#popup-text input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
    background-color: #fffefe;
    color: #000000;
    font-size: 20px;
}
#popup-text button{
    padding: 10px 20px;
    margin: 10px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6d6d6d;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}
header{
    background-color: #000;
    width: 100%;
    top:0;
    position: fixed;
    color: #fff;
}
main{
    margin-top: 5.7%;
    margin-bottom:5%;
    padding: 10px;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
footer{
    background-color: #000;
    position: fixed;
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
#login-data{
    width:100%;
    background-color: #6d6d6dc2;
    margin-left:30%;
    max-width: max-content;
}
#login-data button{
    padding: 10px 20px;
}
section #login-button{
    margin-left:30%;
    margin-bottom: 10px;
}
#login-data label{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#login-data input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
    background-color: #fffefe;
    color: #000000;
    font-size: 20px;
}
#logo-main{
    width:100%;
    background-color: #00000000;
    border: 0;
    box-shadow: 0 0 0 #00000000;
    height:auto;
}
#logo-main img{
    max-width: 450px;
    width: 100%;
    margin-left: 30%;
    margin-right: auto;
    height: auto;
}
section{
    padding: 10px;
    margin: 30px;
    background-color: #ffffff40;
    color:#fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #f0f0f0;
    overflow: hidden;
}
section h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}
section h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
section p{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 20px;
}
section img{
    margin-bottom: 10px;
}
section button{
    background-color: #000;
    color: #fff;
    font-size: larger;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}
section button:hover{
    background-color: #fff;
    color: #000;
}
a{
    color: #ffffff;
    float:right;
    border: #ffffff40 1px solid;
    padding: 5px 10px;
}
#container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo img{
    width: 75px;
    height: 50px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
nav ul li button{
    background-color: #000;
    color: #fff;
    font-size: larger;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}
nav ul li button:hover{
    background-color: #fff;
    color: #000;
}
.active{
    background-color: #fff;
    color: #000;
}