*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table th{
    background-color: #000;
    color: #fff;
    padding: 2px 10px;
    text-align: center;
}
.table td{
    padding: 2px 10px;
    text-align: center;
}
#index{
    display: none;
}
/* td:nth-child(3), th:nth-child(3){
    display: none;
}
td:nth-child(5), th:nth-child(5){
    display: none;
} */